aiodns
aiohttp
aiosignal
argon2-cffi
argon2-cffi-bindings
astroid
async-timeout
asynctest
attrs
brotli
cchardet
cffi
charset-normalizer
colorama
dill
exceptiongroup
execnet
frozenlist
ftfy
googletrans
idna
importlib-metadata
importlib-resources
iniconfig
isort
jsonschema
lazy-object-proxy
mccabe
multidict
packaging
pip
pkgutil-resolve-name
platformdirs
pluggy
pycares
pycparser
pygoogletranslation
pylint
pynacl
pyrsistent
pytest
pytest-asyncio
pytest-xdist
regex
tokenizers
tomli
tomlkit
typed-ast
typing-extensions
wcwidth
wrapt
yarl
zipp
pyyaml
aiohttp
argon2-cffi~=21.3.0
PyNaCl~=1.5.0
jsonschema~=4.17.0
tokenizers~=0.13.1
ftfy~=6.1.1
regex~=2022.10.31
